<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Budget App</title>
  <link rel='stylesheet' href='/stylesheets/output.css' />
</head>

<body class="bg-gray-100">
  <div class="container mx-auto px-4">
    <h1 class="text-xl font-bold my-4">Welcome to the Daily Budget App</h1>

    <div>
      <a href="/auth/google" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Login with Google
      </a>
    </div>
  </div>
</body>

</html>